/* Reset styles */
html, body, ul, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #0A0808;
    border-radius: 10px;
}
::selection {
    background: gray;
}
body {
    background-color: #C6C0BA;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
header {
    top:0;
    position: sticky;
    background-color: transparent;
    z-index: 1;
    box-shadow: 0 0 7px ;
    backdrop-filter: blur(10px);
}
nav,#landing , #about, #project-section, #contact, footer {
    padding: 20px;
}
nav {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    font-family: 'Lobster', cursive;
    border: 3px solid #0A0808;
    box-shadow: black -2px 2px;
    padding: 5px 10px;
    color: #0A0808;
    border-radius: 5px;
    transition: background-color 500ms ease-out;
}
.button:hover {
    box-shadow: black -2px 2px;
    background-color: #0A0808;
    color: #C6C0BA;
}
.button:active {
    position: relative;
    top: 2px;
    right: 2px;
    box-shadow: none;
}
nav a {
    color: #0A0808;
    font-weight: 600;
    transition: background-color 500ms ease-out;
    padding: 10px;
    border-radius: 3px;
}
nav a:hover {
    background-color: #0A0808;
    color: #C6C0BA;
}
a {
    text-decoration: none;
}
#navigation li{
    display: inline-block;
}
#landing {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#landing a {
    color: #0A0808;
}
#landing-content {
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: -100px;
    border: 5px solid #0A0808;
    border-radius: 20px;
    padding: 20px 0;
    filter: grayscale(100%);
    box-shadow: black -8px 8px;
    transition: background-color 500ms ease-out,
                filter 500ms ease-out;
}
#landing-content:hover {
    filter: grayscale(0%);
    background-color: #0A0808;
    color: #C6C0BA;
}
#landing-content:active {
    box-shadow: none;
    position: relative;
    top: 8px;
    right: 8px;
}
#my-name {
    width: 100%;
    height: 100%;
    font-family: 'Lobster', cursive;
}
#my-name h1 {
    font-size: 5rem;
}
#image-portrait {
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
#profile-image {
    max-width: auto;
    max-height: 400px;
    position: relative;
    top: -30px;
}
#about, #contact {
    background-image: linear-gradient(to right, #616060, #0A0808);
    color: #C6C0BA;
    border-radius: 70px;
    /* position: fixed; */
}
#about-content {
    position: relative;
    top: -80px;
    left: -100px;
    text-align: start;
    width: 400px;
    margin: 0 auto;
}
#about-content ul {
    padding-left: 15px;
    list-style-type: circle;
}
#about-image {
    position: relative;
    top: -130px;
    max-height: auto;
    max-width: 600px;
    border-radius: 10%;
    border: 6px solid ;
    transition: all 500ms ease-out;
}
#about-image:hover {
    transform: scale(1.1)
}
.projects {
    max-width: 600px;
    margin: 0px auto;
}
.projects h3 {
    transition: all 500ms ease-out;
}
.projects h3:hover {
    cursor: pointer;
    transform: translateX(10px);
}
.projects img {
    max-width: 100%;
    max-height: auto;
}
#project-1, #project-2, #project-3 {
    display: none;
}
#contact a {
    color: #C6C0BA;
    padding: 0 20px;
    font-size: 2rem;
    transition: all 500ms ease-out;
}
#contact a:hover {
    font-size: 1.5rem;
}